In [59]:
import pandas as pd
import copy as cp

In [60]:
df1 = pd.read_csv(r"D:\Sync_ColorCloud\LogAnalysis\AllWerfenChinaTop\202103\Data\GeneralLogs\YYY.txt",sep="\t",encoding="utf-16",usecols=["sCode","dateTime","sDescription"])

In [61]:
df1

,sCode,dateTime,sDescription
0,'03046,2020-06-29 15:26:36.223,Analyzer Status changed from Ready to Maintena...
1,'03217,2020-06-29 15:27:27.447,Automatic maintenance activity Automatic Routi...
2,'03046,2020-06-29 15:27:27.650,Analyzer Status changed from Maintenance to Re...
3,'03046,2020-06-29 15:55:28.370,Analyzer Status changed from Ready to Busy.
4,'03046,2020-06-29 16:01:41.897,Analyzer Status changed from Busy to Ready.
5,'03046,2020-06-29 16:01:42.190,Analyzer Status changed from Ready to Maintena...
6,'03217,2020-06-29 16:02:32.033,Automatic maintenance activity Automatic Routi...
7,'03046,2020-06-29 16:02:32.227,Analyzer Status changed from Maintenance to Re...
8,'04005,2020-06-29 16:15:20.147,Rack rejected.

In [63]:
df2 = cp.copy(df1)

In [64]:
df2

,sCode,dateTime,sDescription
0,'03046,2020-06-29 15:26:36.223,Analyzer Status changed from Ready to Maintena...
1,'03217,2020-06-29 15:27:27.447,Automatic maintenance activity Automatic Routi...
2,'03046,2020-06-29 15:27:27.650,Analyzer Status changed from Maintenance to Re...
3,'03046,2020-06-29 15:55:28.370,Analyzer Status changed from Ready to Busy.
4,'03046,2020-06-29 16:01:41.897,Analyzer Status changed from Busy to Ready.
5,'03046,2020-06-29 16:01:42.190,Analyzer Status changed from Ready to Maintena...
6,'03217,2020-06-29 16:02:32.033,Automatic maintenance activity Automatic Routi...
7,'03046,2020-06-29 16:02:32.227,Analyzer Status changed from Maintenance to Re...
8,'04005,2020-06-29 16:15:20.147,Rack rejected.

In [65]:
df2.index = df2.index + 1

In [66]:
df2

,sCode,dateTime,sDescription
1,'03046,2020-06-29 15:26:36.223,Analyzer Status changed from Ready to Maintena...
2,'03217,2020-06-29 15:27:27.447,Automatic maintenance activity Automatic Routi...
3,'03046,2020-06-29 15:27:27.650,Analyzer Status changed from Maintenance to Re...
4,'03046,2020-06-29 15:55:28.370,Analyzer Status changed from Ready to Busy.
5,'03046,2020-06-29 16:01:41.897,Analyzer Status changed from Busy to Ready.
6,'03046,2020-06-29 16:01:42.190,Analyzer Status changed from Ready to Maintena...
7,'03217,2020-06-29 16:02:32.033,Automatic maintenance activity Automatic Routi...
8,'03046,2020-06-29 16:02:32.227,Analyzer Status changed from Maintenance to Re...
9,'04005,2020-06-29 16:15:20.147,Rack rejected.

In [68]:
df = pd.merge(df2,df1,left_index=True,right_index=True,how ="inner")

In [70]:
df

,sCode_x,dateTime_x,sDescription_x,sCode_y,dateTime_y,sDescription_y
1,'03046,2020-06-29 15:26:36.223,Analyzer Status changed from Ready to Maintena...,'03217,2020-06-29 15:27:27.447,Automatic maintenance activity Automatic Routi...
2,'03217,2020-06-29 15:27:27.447,Automatic maintenance activity Automatic Routi...,'03046,2020-06-29 15:27:27.650,Analyzer Status changed from Maintenance to Re...
3,'03046,2020-06-29 15:27:27.650,Analyzer Status changed from Maintenance to Re...,'03046,2020-06-29 15:55:28.370,Analyzer Status changed from Ready to Busy.
4,'03046,2020-06-29 15:55:28.370,Analyzer Status changed from Ready to Busy.,'03046,2020-06-29 16:01:41.897,Analyzer Status changed from Busy to Ready.
5,'03046,2020-06-29 16:01:41.897,Analyzer Status changed from Busy to Ready.,'03046,2020-06-29 16:01:42.190,Analyzer Status changed from Ready to Maintena...
6,'03046,2020-06-29 16:01:42.190,Analyzer Status changed from Ready to Maintena...,'03217,2020-06-29 16:02:32.033,Automatic maintenance activity Automatic Routi...
7,'03217,2020-06-29 16:02:32.033,Automatic maintenance activity Automatic Routi...,'03046,2020-06-29 16:02:32.227,Analyzer Status changed from Maintenance to Re...
8,'03046,2020-06-29 16:02:32.227,Analyzer Status changed from Maintenance to Re...,'04005,2020-06-29 16:15:20.147,Rack rejected.